<h3>Documents</h3>

<ul>
  <% doc_files.each do |file| %>
    <li>
      <a href="/docs/<%= file %>"><%= file %></a>
      <a href="/docs/<%= file %>/edit">Edit</a>
      <form class="inline" action="/docs/<%= file %>/delete" method="post">
        <button>
          Delete
        </button>
      </form>
      <form class="inline" action="/docs/<%= file %>/duplicate" method="get">
        <button>
          Duplicate
        </button>
      </form>
      <a href="/docs/<%= file %>/versions">Versions</a>
      <br />
      <br />
    </li>
  <% end %>
</ul>

<a href="./new">New Document</a>

<h3>Images</h3>

<ul>
  <% @img_files.each do |file| %>
    <li>
      <a href="/images/<%= file %>"><%= file %></a>
      <form class="inline" action="/images/<%= file %>/delete" method="post">
        <button>
          Delete
        </button>
      </form>
      <br />
      <br />
    </li>
  <% end %>
</ul>


<a href="./upload_image">Upload Image</a>


<% if signed_in? %>
  <p>
    Signed in as <%= session[:user] %>
  </p>
  <form action="/signout" method="post">
    <button>Sign Out</button>
  </form>
<% else %>
  <form action="/users/signin" method="get">
    <button>Sign In</button>
  </form>
  <form action="/users/signup" method="get">
    <button>Sign Up</button>
  </form>
<% end %>